body {
  background: #fff;
  color: rgba(0, 0, 0, 0.93);
  font-family: 'Linux Libertine', serif;
  font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1; /* ? */
  margin: 0;
}

#column {
  position: relative;
  max-width: 484px;
  margin: 11px auto;
  /*background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 11px;
  box-shadow: 1px 0 #eee, -1px 0 #eee;*/
}

.text-p {
  font-size: 29px;
  line-height: 44px;
}

.note {
  font-size: 22px;
  line-height: 33px;
  padding: 27.5px 22px;
}

.note span {
  background: hsla(43, 100%, 50%, 0.1);
  padding: 4px 0;
}

.hide {
  display: none;
}

::-moz-selection {
  background: rgba(50, 50, 50, 0.08);
}

::selection {
  background: rgba(50, 50, 50, 0.08);
}

.paint {
  background: hsla(250, 100%, 50%, 0.055);
}

.backdrop {
  position: absolute;
  z-index: -1;
}

#sentence1 {
  padding-left: 139px;
}

#sentence2 {
  padding-left: 260px;
}
