body {
  background: #f4f4f6; /* white, lavender gray */
  /*background: #f6f5f4;*/ /* white, gold gray */
  /*background: #f7f7f5;*/ /* white, gold gray */
  /*background: #f7f6f5;*/ /* white, gold gray */
  /*background: #faf9f7;*/ /* white, gold gray */
  /*background: #fff;*/ /* yellow */
  color: rgba(0, 0, 0, 0.93);
  font-family: 'Linux Libertine', serif;
  font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1;
  margin: 0;
  cursor: default;
}

#column {
  position: relative; /* Only needed if highlight contained here */
  max-width: 484px;
  margin: 11px auto;
  /*background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 11px;
  box-shadow: 1px 0 #eee, -1px 0 #eee;*/
}

.sentence {
  position: relative;
  font-size: 29px;
  line-height: 44px;
  padding: 5.5px 0;
}

.text-seg {
  padding: 5.5px 0;
}

.note {
  font-size: 22px;
  line-height: 33px;
  margin: 27.5px 22px;
}

.note span {
  /*background: hsla(43, 100%, 50%, 0.1);*/
  padding: 4px 0;
}

::-moz-selection {
  background: rgba(50, 50, 50, 0.08);
}

::selection {
  background: rgba(50, 50, 50, 0.08);
}

.highlight-box {
  position: absolute;
  /*margin: 5.5px 0;*/
  height: 44px; /* 44px or 33px */
  background: #fff; /*white*/
  /*background: #fff9ea;*/
  /*background: #ffecb9;*/ /* yellow */
  /*opacity: 0.4;*/ /* yellow */
  /*background: hsla(43, 100%, 50%, 0.1);*/
}

#highlight-pane {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* white */
  /*z-index: -1;*/ /* yellow */
}

.highlight {
  display: inline-block;
  position: absolute;
  background: hsla(250, 100%, 50%, 0.055);
  /*background: hsl(43, 100%, 50%);*/
  /*opacity: 0.14;*/
  height: 33px;
  z-index: -1;
  margin: 5.5px 0;
  top: 0;
}

.hide {
  display: none;
}
