body {
  background: #fff;
  color: rgba(0, 0, 0, 0.94);
  font-family: 'Linux Libertine', serif;
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1;
  font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1; /* ? */
  margin: 0; /* ? */
}

#column {
  position: relative;
  max-width: 484px;
  margin: 11px auto;
  /*background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 11px;
  box-shadow: 1px 0 #eee, -1px 0 #eee;*/
}

.sentence {
  font-size: 29px;
  line-height: 44px;
  /*padding: 5.5px 0;*/
}

.card {
  font-size: 22px;
  line-height: 33px;
  margin: 27.5px 22px; /* 5.5 = 11/2, 27.5 halfway b/w 22 and 33 */
}

.backdrop {
  position: absolute;
  width: 484px;
  z-index: -1;
}

#backdrop0 {
  top: 6px;
  height: 121px;
}

.indent {
  display: inline-block;
}

#indent1 {
  width: 139px; /* 139 - 7 */
}

#indent2 {
  width: 253px; /* 260 - 7 */
}

.switch {
  background: hsla(250, 100%, 50%, 0.055);
  position: absolute;
  height: 33px;
}

#switch0 {
  top: 0px;
  left: 90px;
  width: 86px;
}

#switch1 {
  top: 0px;
  left: 399px;
  width: 65px;
}

#switch2 {
  top: 44px;
  left: 205px;
  width: 223px;
}

#switch3 {
  top: 88px;
  left: 0px;
  width: 126px;
}

#switch4 {
  top: 88px;
  left: 65px;
  width: 61px;
}

::-moz-selection {
  background: rgba(50, 50, 50, 0.08);
}

::selection {
  background: rgba(50, 50, 50, 0.08);
}

.hide {
  display: none;
}

.paint {
  background: hsla(250, 100%, 50%, 0.055);
}

.right {
  float: right;
}

.headword {
  padding: 0 0 11px 0;
}

.head {
  font-size: 25px;
}

.bold {
  font-weight: 600;
}
